#react-paginate ul {
  display: inline-block;
  padding-left: 0;
  cursor: pointer !important;
}

#react-paginate li {
  display: inline-block;
  border: 2px solid #EEEEEE;
  color: #324C5B;
  background-color: #F5F5F5;
  cursor: pointer !important;
  border-radius: 5px;
  margin: 5px 6px !important;
}

#react-paginate li a {
  cursor: pointer  !important;
  font-size: 16px;
  padding: 4px 9px;
  display: inline-block;
  color: rgb(74, 74, 74);
  outline: none;
}

#react-paginate li.active {
  cursor: pointer;
  background: #F8C400;
  border-radius: 5px !important;
  outline: none;
  color: white !important;
}

#react-paginate li.active>a {
  border-radius: 5px !important;
  cursor: pointer !important;
  background: #F8C400;
  outline: none;
  color: white !important;
}